* {
	box-sizing: border-box;
}
body {
	background: #f8f9fa;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	line-height: 1.7;
	display: flex;
	justify-content: space-between; /* Что бы то, что находится справа было прижато к правой стороне, а то, что с лева к левой */
	align-items: flex-start; /* Что бы элементы не растягвались по вертикали по максимому */
}

/**************************************
CONTAINER-PRODUCTS
***************************************/

.container-products {
	display: flex;
	flex-wrap: wrap;
}

.item {
	width: 250px;
	margin: 20px;
	padding: 15px 30px;
	border-radius: .25rem;
	box-shadow: 
		0 16px 24px 2px rgba(33,37,41,.02), 
		0 6px 30px 5px rgba(33,37,41,.04), 
		0 8px 10px -5px rgba(33,37,41,.1);
}

.name {
	font-weight: bold;
	text-transform: uppercase;
	padding: 10px 0px;
}

.img {
	height: 200px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	filter: grayscale(50%);
	border-radius: 4px;
}

.price {
	padding: 15px 0px;
	color: grey;
}

.btn {
	padding: 10px 15px;
	border-radius: 4px;
	cursor: pointer;
	border: 1px solid grey;
	outline: none;
	background: none;
	font-family: inherit;
	font-size: inherit;
}

.btn-active {
	border: 1px solid transparent; /* Делаем рамку прозрачной */
    background-image: linear-gradient(to right top, #0923cf, #4621d7, #671ede, #821ae5, #9c12eb);
}


/**************************************
CONTAINER-COUNTER
***************************************/

.container-counter {
	flex-shrink: 0; /* Что бы не сжимался */
	width: 60px;
	height: 60px;
	display: flex; 
	justify-content: center;
	align-items: flex-end;
	background-image: url(../img/cart.svg);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: contain;
	color: black;
	font-weight: bold;
	cursor: pointer;
	margin: 20px;
}